.overlay{
    position: fixed;
    inset: 0;
    background-color: #ffffff12;
    backdrop-filter: blur(5px);
    z-index: 1;
    font-size: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}